<% if @absence == NIL %>
  <h3 class="alert alert-danger">Permission Denied: pristupujete ku absenciám iného žiaka.</h3>
<% else %>
  <div class="row">
    <div class="col-lg-4 pt-3 pl-5 pr-5 bg-light height-max">
      <h1 class="display-4">
        Výpis absencií
      </h1>
      <p class="text-muted">Prehľad známok jednotlivých predmetov.</p>
      <hr>
    </div>
    <div class="col-lg-8 pt-3 pr-5 height-max">
      <div style="margin-bottom: 10px; text-align: right">
        <button class="btn btn-success" id="btnExport">Exportovať</button>
      </div>

      <table class="table table-sm" id="tableWrapper">
        <thead class="thead-red">
        <tr>
          <th scope="col">Žiak</th>
          <th scope="col">Trieda</th>
          <th scope="col">Dátum absencie</th>
          <th scope="col">Dôvod</th>
          <th scope="col">Dátum doručenia</th>
        </tr>
        </thead>
        <tbody>
        <% @absence.each do |absencie| %>
          <tr>
            <th scope="row"><%= absencie.fetch('stname') %></th>
            <td><%= absencie.fetch('trname') %></td>
            <td><%= absencie.fetch('datum') %></td>
            <td><%= absencie.fetch('dovod') %></td>
            <td><%= DateTime.parse(absencie.fetch('datum_dorucenia')).strftime('%a %b %d %H:%M:%S %Y') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate @absence %>
    </div>
  </div>
<% end %>