<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :Názov %>
    <%= form.text_field :name, id: :subject_name, :class => 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.label :Obtiažnosť %>
    <%= form.number_field :difficulty, id: :subject_difficulty, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Počet_kreditov %>
    <%= form.number_field :credits, id: :subject_credits, :class => 'form-control'  %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-red' %>
  </div>
<% end %>
