<% if @teach_classe == NIL %>
  <%= form_for(:teach_subject, local: true) do |form| %>


    <div class="form-group dropup">
      <%= form.label :Trieda %><br/>
      <%= form.collection_select(:classes_id, Classe.all, :id, :name, {:prompt => 'Vyber svoju triedu'}, {class: 'form-control'}) %>
    </div>
    <%= form.hidden_field :teachers_id, value: params[:id] %>
    <div class="actions">
      <%= form.submit "Ulož", :class => 'btn btn-red' %>
    </div>

  <% end %>

<% else %>
  <%= form_for(@teach_classe, local: true) do |form| %>


    <div class="form-group dropup">
      <%= form.label :Trieda %><br/>
      <%= form.collection_select(:classes_id, Classe.all, :id, :name, {:prompt => 'Vyber svoju triedu'}, {class: 'form-control'}) %>
    </div>

    <%= form.hidden_field :teachers_id, value: params[:id] %>
    <div class="actions">
      <%= form.submit "Ulož", :class => 'btn btn-red' %>
    </div>
  <% end %>
<% end %>