<% if @all_classes == NIL %>
  <h3 class="alert alert-danger">Nie sú zadané žiadne absencie.</h3>
<% else %>
  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
      <h1 class="display-4"><i class="fab fa-buromobelexperte big"></i> Manažment tried</h1>
      <p class="lead">Táto sekcia slúži na jednoduchú manipuláciu a administráciu tried.</p>
      <hr class="my-4">
      <%= render 'triedy_form', grade: @triedy %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% count = 1 %>
      <% @all_classes.each do |triedy| %>

        <% if count % 2 == 1 %>
          <div class="col-md-6 col-sm-12 mt-20" data-aos="fade-right" data-aos-delay="<%= count * 50 %>">
        <% else %>
          <div class="col-md-6 col-sm-12 mt-20" data-aos="fade-left" data-aos-delay="<%= count * 50 %>">
        <% end %>
        <% count += 1 %>
            <div class="card">
              <div class="card-body">
                <div class="w-20 float-left text-dark">
                  <span class="big"><%= triedy.fetch('name') %></span>
                </div>
                <% triedy[:class_id] = triedy.fetch('id').to_i %>
                <% triedy[:id] = triedy.fetch('id').to_i %>
                <div class="w-80 float-left">
                  <h5 class="card-title text-dark float-right">Počet žiakov v triede: <strong><%= triedy.fetch('count') %></strong></h5>
                </div>
                <div class="w-100">
                  <p class="card-text float-right">
                    <% %>
                    <%= link_to 'Detail',class_detail_path(triedy),class: "btn btn-outline-info" %>
                    <%= link_to 'Upraviť',class_edit_path(triedy),class: "btn btn-outline-warning" %>
                    <%= link_to 'Vymazať', triedy, method: :delete, data: { confirm: 'Ste si istý?' },class: "btn btn-outline-danger" %>
                  </p>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
<% end %>