<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-4"><i class="fab fa-buromobelexperte big"></i> Správa predmetov a tried
      učiteľa <%= params[:name] %>
    </h1>
    <hr class="my-4">
    <a href="/ucitelia" class="btn btn-red btn-lg float-right"><i class="fas fa-chevron-left"></i>
      Naspäť na manažment učiteľov
    </a>
  </div>
</div>

<div class="container">
  <div class="row">

      <div class="col-md-6 col-sm-12 mt-20" data-aos="fade-up">
        <a href="/ucitelia/<%= current_teacher.id %>/predmety">
          <div class="card">
            <div class="card-body">
              <div class="w-20 float-left text-dark">
                <i class="fas fa-pencil-alt big"></i>
              </div>
              <%= link_to 'Predmety', ucitel_predmety_path, :class => "btn btn-link float-right text-30" %>
              <div class="w-80 float-left">
              </div>
              <div class="w-100">
                <p class="card-text float-right">
                  Pridať, odstrániť predmety učiteľovi.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-sm-12 mt-20" data-aos="fade-up">
        <a href="/ucitelia/<%= current_teacher.id %>/triedy">
        <div class="card">
          <div class="card-body">
            <div class="w-20 float-left text-dark">
              <i class="fab fa-buromobelexperte big"></i>
            </div>
            <%= link_to 'Triedy', ucitel_triedy_path, :class => "btn btn-link float-right text-30"  %>
            <div class="w-80 float-left">
            </div>
            <div class="w-100">
              <p class="card-text float-right">
                Pridať, odstrániť predmety učiteľovi.
              </p>
            </div>
          </div>
        </div>
        </a>
      </div>
  </div>
</div>