<% if @all_absences == NIL %>
  <h3 class="alert alert-danger">Nie sú zadané žiadne absencie.</h3>
<% else %>
  <div class="row">
    <div class="col-lg-4 pt-3 pl-5 pr-5 bg-light height-max">
      <h1 class="display-4">
        Prehľad absencií žiakov
      </h1>
      <p class="text-muted">Prehľad absencií jednotlivých žiakov.</p>
      <hr>

      <h6>Pridať absenciu</h6>
      <%= render 'absences_form', grade: @absence %>

    </div>
    <div class="col-lg-8 pt-3 pr-5 height-max">
      <div style="margin-bottom: 10px; text-align: right">
        <button class="btn btn-success" id="btnExport">Exportovať</button>
      </div>
      <table class="table table-sm" id="tableWrapper">
        <thead class="thead-red">
        <tr>
          <th scope="col">Žiak</th>
          <th scope="col">Trieda</th>
          <th scope="col">Dátum absencie</th>
          <th scope="col">Dôvod</th>
          <th scope="col">Dátum doručenia</th>
          <th scope="col" colspan="2">Akcie</th>
        </tr>
        </thead>
        <tbody>
        <% @all_absences.each do |absencie| %>
          <tr>
            <th scope="row"><%= absencie.fetch('stname') %></th>
            <td><%= absencie.fetch('trname') %></td>
            <td><%= absencie.fetch('datum') %></td>
            <td><%= absencie.fetch('dovod') %></td>
            <td><%= DateTime.parse(absencie.fetch('datum_dorucenia')).strftime('%a %b %d %H:%M:%S %Y') %></td>
            <%absencie[:abs_id]=absencie.fetch('absence_id').to_i%>
            <td><%= link_to 'Edit',absencie_edit_path(absencie),class: "btn btn-warning" %></td>
            <td><%= link_to 'Vymazať', absencie, method: :delete, data: { confirm: 'Ste si istý?' },class: "btn btn-danger" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>