<% if @all_grades == NIL %>
  <h3 class="alert alert-danger">Permission Denied: pristupujete ku známkam iného žiaka.</h3>
<% else %>
  <div class="row">
    <div class="col-lg-4 pt-3 pl-5 pr-5 bg-light height-max">
      <h1 class="display-4">
        Výpis udeľených známok
      </h1>
      <p class="text-muted">Prehľad známok jednotlivých predmetov.</p>
      <hr>
      <h6>Pridaj známku</h6>

      <%= render 'add_grade_form', grade: @all_grades %>

      <hr>
    </div>
    <div class="col-lg-8 pt-3 pr-5 height-max">
      <div style="margin-bottom: 10px; text-align: right">
        <button class="btn btn-success" id="btnExport">Exportovať</button>
      </div>
      <table class="table table-sm" id="tableWrapper">
        <thead class="thead-red">
        <tr>
          <th scope="col">Žiak</th>
          <th scope="col">Trieda</th>
          <th scope="col">Predmet</th>
          <th scope="col">Znamka</th>
          <th scope="col">Dátum</th>
          <th scope="col" colspan="2">Akcia</th>
        </tr>
        </thead>
        <tbody>
        <% @all_grades.each do |znamky| %>
          <tr>
            <th scope="row"><%= znamky.fetch('stname') %></th>
            <td><%= znamky.fetch('trname') %></td>
            <td><%= znamky.fetch('prname') %></td>
            <td><%= znamky.fetch('znamka') %></td>
            <td><%= DateTime.parse(znamky.fetch('datum')).strftime('%a %b %d %H:%M:%S %Y') %></td>
            <%znamky[:grade_id]=znamky.fetch('grade_id').to_i%>
            <td><%= link_to 'Upraviť',znamky_edit_path(znamky),class: "btn btn-warning" %></td>
            <td><%= link_to 'Vymazať', znamky, method: :delete, data: { confirm: 'Ste si istý?' },class: "btn btn-danger" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

