<% if @teachers == NIL %>
  <h3 class="alert alert-danger">Nemáte v syst=eme žiadnych učiteľov.</h3>
<% else %>

  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
      <h1 class="display-4"><i class="fas fa-users big"></i></i> Manažment učiteľov
      </h1>
      <hr class="my-4">
      <p class="lead">Táto sekcia slúži na jednoduchú manipuláciu a administráciu učiteľov - ich predmetov a tried.</p>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <% count = 1 %>
      <div class="card-deck mb-3">
        <% @teachers.each do |ucitelia| %>
          <div class="card text-dark bg-light mb-3" style="max-width: 18rem;" data-aos="fade-up" data-aos-delay="<%= count * 50 %>">
            <% count += 1 %>
            <% ucitelia[:id]=ucitelia.fetch('id').to_i%>
            <div class="card-header">Učiteľ<%= link_to 'Upraviť',rozcestnik_pre_ucitelov_path(ucitelia),class: "btn btn-outline-warning float-right" %></div>
            <div class="card-body">
              <h5 class="card-title">
                <%= ucitelia.fetch('name') %>
              </h5>
              <hr>
              <ul>
                <li><%= ucitelia.fetch('email') %></li>
                <li><%= ucitelia.fetch('birth_date') %></li>
                <li><%= DateTime.parse(ucitelia.fetch('last_sign_in_at')).strftime('%a %b %d %H:%M:%S %Y') %></li>
                <li><%= ucitelia.fetch('credit_number') %></li>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
<% end %>