<% if @teacher_classe == NIL %>
  <h3 class="alert alert-danger">Nie sú zadané žiadne absencie.</h3>
<% else %>
  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
      <h1 class="display-4"><i class="fab fa-buromobelexperte big"></i> Prehľad tried učiteľa
      </h1>

      <hr class="my-4">
      <%= render 'edit_class_teacher', teache_classe: @teacher_classe%>
      <a href="/ucitelia" class="btn btn-red btn-lg float-right"><i class="fas fa-chevron-left"></i>
        Naspäť na manažment učiteľov
      </a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% count = 1 %>
      <% @teacher_classe.each do |teachclasse| %>

        <% if count % 2 == 1 %>
          <div class="col-md-6 col-sm-12 mt-20" data-aos="fade-right" data-aos-delay="<%= count * 50 %>">
        <% else %>
          <div class="col-md-6 col-sm-12 mt-20" data-aos="fade-left" data-aos-delay="<%= count * 50 %>">
        <% end %>
        <% count += 1 %>
        <div class="card">
          <div class="card-body">
            <div class="w-20 float-left text-dark">
              <span class="big"><%= teachclasse.fetch('trname') %></span>
            </div>
            <div class="w-80 float-left">
            </div>
            <div class="w-100">
              <p class="card-text float-right">
                <% teachclasse.fetch('tcid') %>
                <%= link_to 'Vymazať', teachclasse, method: :delete, data: { confirm: 'Ste si istý?' },class: "btn btn-danger" %>
              </p>
            </div>
          </div>
        </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>