<!DOCTYPE html>
<html>
  <head>
    <title>VAVAEducationSystem2018</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  </head>

  <body>
    <!-- NAVBAR START -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-red">
      <a class="navbar-brand" href="/"><i class="fas fa-graduation-cap"></i> R&A EDU</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if (student_signed_in?)  %>
          <li class="nav-item">
            <a class="nav-link" href="/">Domov</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/znamky/<%= current_student.id %>">Známky</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/absencie/<%= current_student.id %>">Absencie</a>
          </li>
          <% end %>
          <% if (teacher_signed_in?)  %>
            <li class="nav-item"><a class="nav-link" href="/">Domov</a></li>
            <li class="nav-item"><a class="nav-link" href="/zapis_znamky/<%= current_teacher.id %>">Zápis známok</a></li>
            <li class="nav-item"><a class="nav-link" href="/zapis_absencii/<%= current_teacher.id %>">Zápis absencie</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manažment
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/triedy/<%= current_teacher.id %>">Manažment tried</a>
                <a class="dropdown-item" href="/ucitelia">Manažment učiteľov</a>
                <a class="dropdown-item" href="/subjects">Manažment predmetov</a>
              </div>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav">
          <% if student_signed_in? %>
            <li class="nav-item"><%= link_to 'Upraviť profil', edit_student_registration_path, :class => 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Odhlásiť sa", destroy_student_session_path, method: :delete, :class => 'nav-link' %></li>
          <% end %>
          <% if !((student_signed_in?) || (teacher_signed_in?)) %>
            <li class="nav-item"><%= link_to "Registrácia", new_student_registration_path, :class => 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Prihlásenie", new_student_session_path, :class => 'nav-link' %></li>
          <% end %>
          <% if teacher_signed_in? %>
            <li class="nav-item"><%= link_to 'Upraviť profil', edit_teacher_registration_path, :class => 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Odhlásiť sa", destroy_teacher_session_path, method: :delete, :class => 'nav-link' %></li>
          <% end %>
          <% if (student_signed_in?) || (teacher_signed_in?) %>
            <li><div class="vertical-separator"></div></li>
          <% end %>
          <li> <div class="selectpicker" id="google_translate_element"></div><script type="text/javascript">
              var g_gTranslateIsAdded = false;
              function googleTranslateElementInit() {
                  if (!g_gTranslateIsAdded ) {
                      g_gTranslateIsAdded = true;
                      new google.translate.TranslateElement({pageLanguage: 'sk', layout: google.translate.TranslateElement.InlineLayout.VERTICAL, autoDisplay: false}, 'google_translate_element');
                  }
              }
          </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script></li>
        </ul>
        <span class="navbar-text">

          <% if teacher_signed_in? %>
            Prihlásený ako:
            učiteľ
             <strong><%= current_teacher.email %></strong>.
          <% end %>
          <% if student_signed_in? %>
            Prihlásený ako:
            žiak
             <strong><%= current_student.email %></strong>.
          <% end %>

        </span>
      </div>
    </nav>

    <!-- NAVBAR END-->

    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show alert-custom" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger alert-dismissible fade show alert-custom" role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <div class="main">
      <%= yield %>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2017-2018 Richard Križan & Adrián Vyskoč </p>
      <p class="lead">Vývoj aplikácií s viacvrstvovou architektúrou</p>
    </footer>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
  </body>
</html>

