<!DOCTYPE html>
<html>
  <head>
    <title>VAVAEducationSystem2018</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- NAVBAR START -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-red">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if (student_signed_in?)  %>
          <li class="nav-item">
            <a class="nav-link" href="/">Domov</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/znamky/<%= current_student.id %>">Známky</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/absencie/<%= current_student.id %>">Absencie</a>
          </li>
          <% end %>
          <% if (teacher_signed_in?)  %>
            <li class="nav-item"><a class="nav-link" href="/">Domov</a></li>
            <li class="nav-item"><a class="nav-link" href="/zapis_znamky/<%= current_teacher.id %>">Zapis známky</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Zapis absencie</a></li>
          <% end %>
        </ul>
        <ul class="navbar-nav">
          <% if student_signed_in? %>
            <li class="nav-item"><%= link_to 'Upraviť profil', edit_student_registration_path, :class => 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Odhlásiť sa", destroy_student_session_path, method: :delete, :class => 'nav-link' %></li>
          <% end %>
          <% if !((student_signed_in?) || (teacher_signed_in?)) %>
            <li class="nav-item"><%= link_to "Registrácia", new_student_registration_path, :class => 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Prihlásenie", new_student_session_path, :class => 'nav-link' %></li>
          <% end %>
          <% if teacher_signed_in? %>
            <li class="nav-item"><%= link_to 'Upraviť profil', edit_teacher_registration_path, :class => 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Odhlásiť sa", destroy_teacher_session_path, method: :delete, :class => 'nav-link' %></li>
          <% end %>
          <% if (student_signed_in?) || (teacher_signed_in?) %>
            <li><div class="vertical-separator"></div></li>
          <% end %>
        </ul>
        <span class="navbar-text">

          <% if teacher_signed_in? %>
            Prihlásený ako:
            učiteľ
             <strong><%= current_teacher.email %></strong>.
          <% end %>
          <% if student_signed_in? %>
            Prihlásený ako:
            žiak
             <strong><%= current_student.email %></strong>.
          <% end %>

        </span>
      </div>
    </nav>

    <!-- NAVBAR END-->

    <% if notice %>
      <blockquote>
        <p class="alert alert-danger"><%= notice %></p>
      </blockquote>
    <% end %>
    <% if alert %>
      <blockquote>
        <p class="alert alert-danger"><%= alert %></p>
      </blockquote>
    <% end %>

    <div class="main">
      <%= yield %>
    </div>


  </body>
</html>

